@model dudegomvc.Models.TbCustomer

@{
    ViewData["Title"] = "Create";
}

 
<div class="Container grid grid-cols-[1.3fr_0.70fr]">

    <div class="SectionViewInf flex flex-column text-6xl">
        <div class="flex justify-center">
            <img src="~/img/Create.svg" alt="Alternate Text" class="w-50" />
        </div>
        <div class="flex"><span class="">Comencemos...</span> </div>
        <div class="w-50"><hr></hr></div>
       
        <div class="text-lg mt-2.5 pr-20 mr-20">
            <span>
                Recuerda llenar todos los campos del formulario,
                cada uno de ellos es muy importante.
            </span>
        </div>
    </div> 

    <div class="SectionViewMenu flex flex-column mt-6">

        <div class="flex text-center"><span class="font-bold text-green-600 text-3xl">Nuevo <span class="text-black font-regular text-md">Registro</span></span></div>
       
        <form asp-action="Create" class="mt-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label font-thin text-lg">Numero de DUI</label>
                <input asp-for="DuiCustomer" class="form-control mb-3" />
                <span asp-validation-for="DuiCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label font-thin text-lg">Licencia de conducir</label>
                <input asp-for="DrivingLic" class="form-control mb-3" />
                <span asp-validation-for="DrivingLic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label font-thin text-lg">Nombre completo</label>
                <input asp-for="NameCustomer" class="form-control mb-3" />
                <span asp-validation-for="NameCustomer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label font-thin text-lg">Telefono</label>
                <input asp-for="PhoneNumber" class="form-control mb-3" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label font-thin text-lg">Direccion</label>
                <input asp-for="Address" class="form-control mb-6" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group bg-green-600 rounded-full w-28 h-10 text-center content-center text-white font-thin">
                <i class="fa-solid fa-floppy-disk"></i>
                <input type="submit" value=" Guardar"  />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
