@model dudegomvc.Models.TbCustomer

@{
    ViewData["Title"] = "Delete";
}
  

<div class="ContainerC flex flex-column">

    <div class=" flex flex-column SectionOne mt-6 items-center">

        <div class="flex justify-center">
            <img src="~/img/Delete.svg" alt="Alternate Text" class="w-96" />
        </div>
        <div class="text-5xl text-center"><span>Eliminaras un <span class="font-bold text-red-600">Registro</span></span></div>
        <div class="mt-1"><span text-gray>No hay vuelta atras en esta accion</span></div>
        <div class=""><span text-gray>Estas seguro que deseas eliminar</span></div>

    </div>

    <div class="SectionTwo mt-4 flex flex-column items-center ">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdCustomer" />
            <div class="rounded-xl bg-red-600 text-white text-lg w-32 h-10 text-center content-center mt-6">
                <input type="submit" value="Delete" /> 
            </div>
            <div>
                <a asp-action="Index"> <i class="fa-solid fa-chevron-left text-red-600"></i> Regresar a clientes</a>
            </div>
        </form>

    </div>
</div>