@model IEnumerable<dudegomvc.Models.TbInvoice>

@{
    ViewData["Title"] = "Index";
}

<div class="ContainerC flex flex-column">

    <div class=" flex flex-column SectionOne mt-6 items-center">
        <div class="text-5xl text-center"><span>Facturas <span class="font-bold text-green-600">DudeGo</span></span></div>
        <div class="mt-1"><span text-gray>Puedes agregar una nueva factura</span></div>
        <div class=""><span text-gray>precionando el boton "Agregar"</span></div>

        <a asp-action="Create"><div class="rounded-xl bg-green-800 text-white text-lg w-32 h-10 text-center content-center mt-6">Agregar</div></a>
    </div>

    <div class="SectionTwo mt-12">

        <table id="TableCustomers" class="display table-auto mx-auto text-center">
            <thead class="bg-gray-200">
                <tr>
                    <th class="p-2 text-center">
                     Factura
                    </th>
                    <th class="p-2 text-center">
                    Sucursal
                    </th>
                    <th class="p-2 text-center">
                    Cliente
                   </th>
                    <th class="p-2 text-center">
                    Vendedor
                    </th>
                   
               </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr border-t border-gray-200>
                        <td class="p-2">
                                @Html.DisplayFor(modelItem => item.InvoiceNumber)
                            </td>
                        <td class="p-2">
                                @Html.DisplayFor(modelItem => item.IdBranchNavigation.IdBranch)
                            </td>
                        <td class="p-2">
                                @Html.DisplayFor(modelItem => item.IdCustomerNavigation.IdCustomer)
                            </td>
                        <td class="p-2">
                                @Html.DisplayFor(modelItem => item.IdSalespersonNavigation.IdSalesperson)
                            </td>
                     
                        </tr>
                            }
                </tbody>
            </table>

    </div>
</div>


